.portfolio-title {
  grid-column: 3/8;
  grid-row: 1/2;
  color: #46a29f;
  font-size: 6rem;
}

.carousel-layout {
  height: 100%;
  grid-column: 1/10;
  grid-row: 2/6;
}

.slider-list,
.slider-slide,
.cardStyle {
  height: 100% !important;
}

.cardStyle {
  background: url("../../../public/pictures/pic.png") center;
  border: 0.01rem solid #66fcf1;
  max-width: 40%;
  max-height: 80%;
  text-align: center;
  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 1fr);
}

.card-align {
  display: flex;
  justify-self: center;
  align-self: center;
}

.card-button {
  grid-column: 2/4;
  grid-row: 5/6;
}

.card-title {
  color: #66fcf1;
  margin: 0;
  padding: 0;
  grid-column: 1/5;
  grid-row: 1/2;
  font-size: 2.5rem;
}
.card-link {
  color: #fff;
  text-decoration: none;
  padding-bottom: 1%;
}
.card-link:hover {
  color: #0b0c10;
}

.card-description {
  margin: 0;
  padding: 0;
  grid-column: 1/5;
  grid-row: 2/4;
  font-size: 1.5rem;
}

.card-language {
  margin: 0;
  padding: 0;
  grid-column: 1/5;
  grid-row: 4/5;
  font-size: 1rem;
}
.paging-item {
  margin: 10 2%;
  background: none !important;
}

/* Desktops */

@media (max-width: 64rem) {
  .portfolio-title {
    grid-column: 1/10;
    grid-row: 1/3;
    color: #46a29f;
    font-size: 7rem;
  }

  .carousel-layout {
    height: 100% !important;
    grid-column: 1/10;
    grid-row: 4/13;
  }

  .cardStyle {
    max-width: 65%;
    max-height: 85%;
    text-align: center;
    margin: auto !important;
  }
  .card-title {
    font-size: 2.5rem;
  }

  .card-description {
    font-size: 1.3rem;
  }

  .card-language {
    font-size: 1rem;
  }

  .paging-item {
    /* bottom: -5% !important; */
    background: none !important;
  }
}

/* Tablet landscape */
@media (max-width: 48rem) {
  .portfolio-title {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .carousel-layout {
    height: 100%;
    grid-column: 1/6;
    grid-row: 2/8;
  }

  .cardStyle {
    max-width: 100%;
    max-height: 62%;
    margin-top: 15%;
    text-align: center;
  }
  .slider-control-centerright,
  .slider-control-centerleft {
    margin-top: 3% 0 !important;
    font-size: 1.2rem !important;
    top: 76% !important;
    width: 20% !important;
    margin: 5% 0 !important;
  }

  .slider-control-bottomcenter {
    bottom: 11% !important;
  }
}
/* Smartphones */
@media (max-width: 30rem) {
  .portfolio-title {
    grid-column: 1/5;
    grid-row: 1/2;
    color: #46a29f;
    font-size: 6rem;
  }

  .carousel-layout {
    overflow: hidden;
    height: 100%;
    grid-column: 1/3 !important;
    grid-row: 3/9 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    margin: 0;
  }

  .carousel-style {
    height: 100%;
    padding: 0;
    margin: 5% auto;
  }
  .slider-frame {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 !important;
  }

  .slider-list {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    grid-column: 1/5 !important;
    grid-row: 1/4 !important;
    height: 100% !important;
  }

  .slider-slide {
    height: 100% !important;
  }

  .cardStyle {
    background: url("../../../public/pictures/pic.png") center;
    border: 1px solid #66fcf1;
    min-width: 100% !important;
    height: 80%;
    margin-top: 15% !important;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 1fr);
  }

  .card-button {
    grid-column: 2/4;
    grid-row: 5/6;
    width: 50% !important;
  }
  .card-link {
    margin: 0 auto;
    font-size: 1rem;
  }

  .slider-control-centerright,
  .slider-control-centerleft {
    margin-top: 3% 0 !important;
    font-size: 1.2rem !important;
    top: 75% !important;
    width: 20% !important;
    margin: 5% 0 !important;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .card-description {
    margin: 0;
    padding: 0;
    grid-column: 1/5;
    grid-row: 2/4;
    font-size: 1.5rem;
  }

  .card-language {
    font-size: 1.2rem;
  }

  .slider-control-bottomcenter {
    bottom: 12% !important;
  }

  button {
    width: 100% !important;
  }
}
