.layout-contact {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.contact-text {
  grid-column: 2/10;
  grid-row: 3/6;
  font-size: 2rem;
}

.the-form {
  grid-column: 2/10;
  grid-row: 6/12;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
input,
textarea {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.name {
  grid-column: 2/4;
  grid-row: 1/2;
}

.email-address {
  grid-column: 4/6;
  grid-row: 1/2;
}

.purpose {
  grid-column: 6/8;
  grid-row: 1/2;
}

.message {
  grid-column: 2/8;
  grid-row: 3/7;
}

.the-submit {
  grid-column: 4/6;
  grid-row: 8/9;
}
