.layout-contact {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.contact-text {
  grid-column: 2/10;
  grid-row: 3/6;
  font-size: 2.2rem;
}

.the-form {
  grid-column: 2/10;
  grid-row: 6/13;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.email-address {
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: center;
}

.purpose {
  grid-column: 6/8;
  grid-row: 1/2;
  text-align: center;
}

.message {
  grid-column: 2/8;
  grid-row: 3/6;
  text-align: center;
}

.the-submit {
  grid-column: 4/6;
  grid-row: 7/8;
}
