.footer {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr;
}
.logos {
  border-radius: 50%;
  border: 1px solid #66fcf1;
  margin: 0;
  padding: 0;
  width: 25%;
  background: transparent;
  display: flex;
  justify-self: center;
  align-self: center;
}

.logos:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.linked-logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.linkedin {
  grid-column: 1/2;
  grid-row: 2/3;
}

.logo-img {
  width: 100%;
  height: auto;
}

.github-logo {
  grid-column: 7/8;
  grid-row: 1/2;
}
.github {
  grid-column: 7/8;
  grid-row: 2/3;
}

.text-align {
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  display: flex;
  justify-self: center;
  align-self: flex-start;
  color: #fff;
}

/* Tablet landscape */
@media (max-width: 48rem) {
  .logos {
    width: 40%;
    height: 100%;
  }
}

@media (max-width: 30rem) {
  .footer {
    margin-top: 15%;
  }
  .logos {
    width: 55% !important;
    margin: 0 auto;
  }
}
