a,
li,
ul {
  text-decoration: underline #fff;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul {
  display: grid;
  grid-template-columns: 7.5% repeat(5, 17%) 7.5%;
  font-size: 0.85rem;
  padding: 2% 0;
}

.listItems {
  display: flex;
  align-self: center;
}

.home {
  grid-column: 2/3;
}
.contact {
  grid-column: 3/4;
}
.portfolio {
  grid-column: 6/7;
}
.about {
  grid-column: 5/6;
}
