.navbar-container {
  margin: 0;
}
.navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid !important;
  grid-template-columns: repeat(8, 12.5%) !important;
  grid-template-rows: 1fr;
}

.navbar-brand {
  grid-column: 4/6;
  grid-row: 1/2;
  overflow: visible;
  z-index: -5;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 !important;
}
.logo {
  width: 30% !important;
  height: 15% !important;
}

#basic-navbar-nav {
  width: 100%;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  grid-column: 1/9;
  grid-row: 1/2;
  font-size: 0.85rem;
}

.listStyle {
  width: 100%;
  color: white;
  text-decoration: underline #66fcf1;
}

.active {
  color: #66fcf1;
  text-decoration: underline white;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.home {
  grid-column: 1/2;
  grid-row: auto;
}
.contact {
  grid-column: 2/3;
}
.portfolio {
  grid-column: 8/9;
}
.about {
  grid-column: 7/8;
}

@media (max-width: 61.938rem) {
  .navbar {
    display: flex !important;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
  }

  .hamburger-button {
    display: flex !important;
    justify-content: center;
    align-content: center;
    width: 10%;
  }

  .navbar-brand {
    display: flex !important;
    justify-content: left;
    align-content: center;
    width: auto;
  }

  .navbar-toggler-icon {
    width: 100%;
  }
}

@media (max-width: 48rem) {
  .navbar {
    display: flex !important;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
  }

  .hamburger-button {
    display: flex !important;
    justify-content: center;
    align-content: center;
    width: auto;
  }

  .navbar-brand {
    display: flex !important;
    justify-content: left;
    align-content: center;
    width: auto;
  }

  .navbar-toggler-icon {
    width: 100%;
  }
}

@media (max-width: 30rem) {
  .navbar {
    display: flex !important;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
  }

  .hamburger-button {
    display: flex !important;
    justify-content: center;
    align-content: center;
    width: auto !important;
  }

  .navbar-brand {
    justify-content: left;
    align-content: center;
    width: 50%;
    padding: 0 !important;
  }

  .navbar-toggler-icon {
    width: 100%;
  }
}
